.card {
  width: 540px;
  font-family: "inter", Arial, sans-serif;
}

.card__list {
  margin: 32px 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.card__title {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", "Serif";
  display: flex;
  gap: 10px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}
